body {
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url(../Imagens/fundo2.png);
}
.fundo {
    width: 98vw;
    height: 30vw;
    background-color: black;
    border: 5px solid rgb(13, 236, 13);
    border-left: 5px solid green;
    overflow: hidden;
    background-image: url(../Imagens/fundo2.png);
    margin-bottom: 15px;
}
.area {
    width: 6vw;
    height: 30vw;
    background-color: black;
    border-right: 5px solid rgb(13, 236, 13);
    text-align: center;
    background-image: url(../Imagens/fundo.png);
}
.painel {
    display: none;
    flex-direction: column;
    text-align: center;
    border: 5px solid blue;
    padding: 5px;
    width: 23vw;
    height: 40vw;
    margin-left:40px;
    margin-top: 10px;
} 
.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.botoes2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.botaoStart{
    border: 2px outset green;
    background-color: lightgreen;
    height: 4vw;
    margin-left: 25px;
    width: 96vw;
    font-size: x-large;
}
.botaoReplay, .Sumir{
    display: none;
}
.aparece{
    display: block;
    border: 2px outset green;
    background-color: lightgreen;
    height: 4vw;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96vw;
    font-size: x-large;
}

#div2 {
    color: white;
    position: absolute; 
    top: 7vw; 
    left: 88vw; 
    width: 7vw; 
    height: 6vw; 
    text-align: center;
}
#div1 {
    color: white;
    position: absolute;
    top: 20vw;
    left: 88vw; 
    width: 7vw; 
    height: 6vw; 
    text-align: center;
}
.player {
    color: white;
    display: block;
    height: 5vw;
    width: 6vw;
}
.painelAlt{
    display: flex;
    flex-direction: row;
}

.localS{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px outset green;
    background-color: rgb(31, 182, 31);
    width: 20vw;
    height: 5vw;
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-left: 1vw;
}
.Inst{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px outset green;
    background-color: rgb(31, 182, 31);
    width: 98.5vw;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: large;
}
.pontos {
    display: flex;
    border: 5px outset green;
    width: 80vw;
    height:5vw;
    margin: 5px;
    margin-left: 10px;
    font-size: xx-large;
    padding: 5px;
    background-color: rgb(12, 236, 12);
    align-items: center;
    justify-content: center;
}
.tiro {
    position: absolute;
    width: 2vw;
    height: 1vw;
    border: 2px solid rgb(12, 236, 12);
    background-color: rgb(12, 236, 12);;
    border-radius: 50%;
}
#acima,#baixo,#esquerda,#direita,#atirar{
    width: 10vw;
    height: 10vw;
    margin: 5px;
}
#atirar {
    display: none;
}
img {
    width: 100%;
    height: 100%;
}
#acima,#baixo {
    margin-left: 6vw;
}

@media (max-width:915px) {
    body {
        flex-direction: column;
    }
    .painel {
        margin-top: 15px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        width: 87vw;
        height: 40vw;
        align-items: center;
    }
    .painelAlt {
        flex-wrap: nowrap;
    }
    .pontos {
        width: 60vw;
        height: 10vw;
    }
    .localS{
        width: 30vw;
        height: 10vw;
    }
    .Inst{
        width: 96vw;
        height: auto;
    }
    .botaoStart{
        width: 89vw;
        height: 10vw;
    }
    .aparece{
        width: 89vw;
        height: 15vw;
    }
    .fundo{
        width: auto;
        height: 50vw;
    }
    #div1 {
        top: 30vw;
        
    }
    #div2 {
        top: 10vw;
        
    }
    .area {
        height: 50vw;
    }
    #acima,#baixo,#esquerda,#direita,#atirar {
    width: 20vw;
    height: 15vw;
    margin: 5px;
    border: 4px outset white;
    }
    #acima {
        margin-left: 3vw;
    }
    #atirar {
        display: block;
        border: 5px outset grey;
        margin-right: 6vw;
    }
}
